* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #fff;
  color: #333;
}

/* HERO */
.hero {
  background: linear-gradient(to right, #f8cdda, #fbd3e9);
  min-height: 20vh;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 600;
}

.nav-btn {
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 10px 18px;
  border-radius: 20px;
}

.hero-content {
  margin-top: 120px;
  text-align: center;
}

.hero-content h2 {
  font-size: 2.5rem;
}

.hero-content p {
  margin: 15px 0;
}

.cta-btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 12px 25px;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 20px;
}

/* SECTIONS */
.main_color {
    background-color: rgb(247, 236, 22);
}
section {
  padding: 60px 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

/* SERVICES */
.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  max-width: 600px;
  margin: auto;
}

.card {
  padding: 20px;
  background: #f9f9f9;
  border-radius: 15px;
}

/* GALLERY */
.gallery-grid img {
  width: 50%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}


.img-placeholder {
  height: 150px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: #666;
}

.note {
  margin-top: 10px;
  font-size: 0.9rem;
}

/* CONTACT */
.contact span {
  font-weight: bold;
}

/* FOOTER */
footer {
  background: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}
