* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #fff;
  color: #333;
}

/* HERO */
.hero {
  height: 55vh;
  min-height: 380px;
  padding: 20px;
  position: relative;

  background: linear-gradient(
    270deg,
    #fbd3e9,
    #f8cdda,
    #fbc2eb,
    #fad0c4
  );
  background-size: 600% 600%;
  animation: gradientMove 12s ease infinite;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 600;
}

.nav-btn {
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 10px 18px;
  border-radius: 20px;
}

.hero-content {
  margin-top: 120px;
  text-align: center;
}

.hero-content h2 {
  font-size: 2.5rem;
}

.hero-content p {
  margin: 15px 0;
}

.cta-btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 12px 25px;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 20px;
}

/* SECTIONS */
.main_color {
    background-color: rgb(247, 236, 22);
}
section {
  padding: 60px 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

/* SERVICES */
.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  max-width: 600px;
  margin: auto;
}

.card {
  padding: 20px;
  background: #f9f9f9;
  border-radius: 15px;
}

/* GALLERY */
.gallery-grid img {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 images per row */
  width: 50%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
  gap: 15px;
  margin: 0 auto;
}
.gallery {
  padding: 60px 20px;
  text-align: center;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* SIDE BY SIDE */
  gap: 16px;
  max-width: 1000px;
  margin: 0 auto;
}
.gallery-grid img {
  width: 100%;
  height: 160px; 
  aspect-ratio: 1 / 1;          /* controls tall images */
  object-fit: cover;       /* prevents stretching */
  border-radius: 20px;
  display: block;
}
@media (min-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery-grid img {
    height: 200px;
  }
}

.note {
  margin-top: 10px;
  font-size: 0.9rem;
}

/* CONTACT */
.contact span {
  font-weight: bold;
}

/* FOOTER */
footer {
  background: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}
